<center>
    <form action="/filter" method="POST" class="protector">
        <label style="float:left;">Item ID:</label>
        <input type="number" class="text-box" name="itemID">
        <label style="float:left;">Item Type:</label>
        <input type="text" class="text-box" name="itemType">
        <label style="float:left;">Model Number:</label>
        <input type="text" class="text-box" name="modNum">
        <button type="submit" class="btn btn-positive btn-raised">Filter Items</button>
    </form>
</center>