<eazy-nav-bar theme="warning">
  <div class="nav-item">
    <nav-title></nav-title>
  </div>
  <div class="nav-icon-right">
    <eazybtn theme="clear" icon="sign-out" onclick="logout();"></eazybtn>
  </div>
</eazy-nav-bar>

<eazy-side-nav side="left" style="opacity:1;width:20em;">
  <eazybtn icon="shopping-cart" theme="clear" text="Inventory" class="side-item" ng-click="$state.go('layout.home');"></eazybtn>
  <hr><eazybtn icon="filter" theme="clear" text="Filter Items" class="side-item"></eazybtn>
  <hr>
</eazy-side-nav>

<eazy-content>
  <div ui-view="content"></div>
</eazy-content>
