<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/libs/eazy-framework/css/eazy.css"/>
  </head>
  <body>
    <center>
      <form class="protector" method="post" action="/post">
        <label for="username" style="float:left;">Username:</label>
        <input type="text" class="text-box" name="username">
        <label for="password" style="float:left;">Password:</label>
        <input type="password" class="text-box" name="password">
        <button class="btn btn-nature btn-raised" style="width:100%;">Login</button>
      </form>
    </center>
  </body>
</html>
