<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/libs/eazy-framework/css/eazy.css"/>
    <link rel="stylesheet" href="/static/libs/eazy-framework/css/font-awesome.css"/>
  </head>
  <body>
    <center>
      <div class="alert-item">
        <div style="margin-right:5%;" style="background-color:#ffb6b6;">
          <center><p><i class="fa fa-lg fa-exclamation-triangle "></i> Please Retry Login</p></center>
        </div>
      </div>
      <form class="protector" method="post" action="/post">
        <label for="username" style="float:left;">Username:</label>
        <input type="text" class="text-box" name="username">
        <label for="password" style="float:left;">Password:</label>
        <input type="password" class="text-box" name="password">
        <button class="btn btn-nature btn-raised" style="width:100%;">Login</button>
      </form>
    </center>
  </body>
</html>
